{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}

{% set pageName="Add client" %}

{% block header %}
  {% include "partials/moj_header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form class="govuk-grid-column-two-thirds" action="/clients/add-with-grant" method="GET">

      {{ govukRadios({
        name: "grant",
        value: "client-credentials",
        fieldset: {
          legend: {
            text: "Select a grant type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "client-credentials",
            text: "Client credentials"
          },
          {
            value: "authorization-code",
            text: "Authorization code",
            disabled: false
          }
        ]
      }) }}


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          type: "submit",
          preventDoubleClick: true
        }) }}
        <a href="/" role="button" class="govuk-button govuk-button--secondary">Cancel</a>
      </div>

    </form>
    </div>

{% endblock %}
