{% extends "layouts/main.html" %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageName="Add client" %}

{% block header %}
  {% include "partials/moj_header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form class="govuk-grid-column-two-thirds" action="/clients/add-with-grant" method="POST">

      <h1 class="govuk-heading-xl">
        Add new client
      </h1>

      <h2 class="govuk-heading-l">Client details</h2>
      <input type="hidden" value="{{ presenter.grantCode }}" name="grantCode">
      {{ govukInput({
        label: {
          text: "Base client ID"
        },
        classes: "govuk-!-width-two-thirds",
        id: "base-client-id",
        name: "baseClientID"
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "clientType",
        fieldset: {
          legend: {
            text: "Client type",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "SERVICE",
            text: "Service"
          },
          {
            value: "PERSONAL",
            text: "Personal"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "access-token-validity",
        name: "accessTokenValidity",
        label: {
          text: "Access token validity"
        },
        hint: {
          text: "Token expiration time in seconds"
        },
        classes: "govuk-!-width-one-third",
        items: [
          {
            value: "1200",
            text: "1200 - 20 minutes"
          },
          {
            value: "3600",
            text: "3600 - 1 hour",
            selected: true
          },
          {
            value: "43200",
            text: "43200 - 12 hours"
          },
          {
            value: "custom",
              text: "Custom",
              conditional: {
                html: "<label class=\"govuk-label\" for=\"expiry-days\">Number of days client is currently valid for</label><input class=\"govuk-input govuk-!-width-one-quarter\" id=\"expiry-days\" name=\"expiryDays\" value=\"" + baseClient.config.days_to_expire + "\" type=\"text\">"
              }
          }
        ]
      }) }}

      <div id="custom-access-token-validity-element">
      {{ govukInput({
        label: {
          text: "Custom access token validity in seconds"
        },
        classes: "govuk-!-width-one-half",
        id: "custom-access-token-validity",
        name: "customAccessTokenValidity"
      }) }}
      </div>

      {{ govukInput({
        label: {
          text: "Approved scopes"
        },
        hint: {
          text: "read, write ..."
        },
        classes: "govuk-!-width-one-third",
        id: "approved-scopes",
        name: "approvedScopes"
      }) }}



      <h2 class="govuk-heading-l">Grant details</h2>
      {{ govukInput({
        label: {
          text: "Grant type"
        },
        classes: "govuk-!-width-two-thirds",
        id: "authorised-grant-type",
        name: "authorisedGrantTypes",
        value: presenter.grant,
        disabled: true
      }) }}

      {% if presenter.isClientCredentials %}
        {{ govukTextarea({
          name: "authorities",
          id: "authorities",
          label: {
            text: "Authorities",
            isPageHeading: false
          }
        }) }}
      {% endif %}

      {% if presenter.isAuthorizationCode %}
        {{ govukTextarea({
          name: "redirect uris",
          id: "redirect-uris",
          label: {
            text: "Registered redirect URIs",
            isPageHeading: false
          },
          value: presenter.web_server_redirect_uri
        }) }}
        {{
        govukInput({
          label: {
            text: "JWT Fields Configuration"
          },
          hint: {
            text: "Comma separated list of fields, prefixed with + to add, - to remove e.g. +name,-user_id"
          },
          classes: "govuk-!-width-one-third",
          id: "jwt-fields",
          name: "jwtFields",
          text: baseClient.additional_information.jwtFields
        }) }}


        {{ govukCheckboxes({
          name: "azure",
          fieldset: {
            legend: {
              text: "Azure Ad Login Flow",
              isPageHeading: false
            },
            hint: {
              text: "Customize behaviour of Azure AD login"
            }
          },
          items: [
            {
              value: "redirect",
              text: "Auto redirect",
              checked: presenter.skipToAzureFieldBool
            }
          ]
        }) }}
      {% endif %}

      <h2 class="govuk-heading-l">Config</h2>
      {{ govukCheckboxes({
        name: "expiry",
        items: [
          {
            value: "expire",
            text: "allow client to expire",
            checked: baseClient.config.do_expire,
            conditional: {
            html: "<label class=\"govuk-label\" for=\"expiry-days\">Number of days client is valid for</label><input class=\"govuk-input govuk-!-width-one-quarter\" id=\"expiry-days\" name=\"expiryDays\" type=\"text\">"
          }
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "allowedIPS",
        id: "allowed-ips",
        label: {
          text: "Allowed IPs",
          isPageHeading: false
        },
        value: presenter.allowed_ips
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save",
          type: "submit",
          preventDoubleClick: true
        }) }}
        <a href="/" role="button" class="govuk-button govuk-button--secondary">Cancel</a>
      </div>

    </form>

  </div>

{% endblock %}
