{% extends "layouts/main.html" %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% set pageName="Client" %}

{% block header %}
  {% include "partials/moj_header.html" %}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Edit client: {{ baseClient.client_id }}
      </h1>

      {{ govukTable({
        caption: "All clients",
        captionClasses: "govuk-table__caption--l",
        firstCellIsHeader: false,
        head: [
          {
            text: "Client ID"
          },{
            text: "Created"
          },{
            text: "Secret updated"
          },{
            text: "Last accessed"
          }
        ],
        rows: presenter.all_clients_table
      }) }}

      <div class="govuk-grid-row" style="width: 100%">

        <div class="govuk-grid-column-one-quarter">
          {{ govukButton({
            text: "Duplicate"
          }) }}
        </div>

        <div class="govuk-grid-column-one-half">
          {{ govukButton({
            text: "Duplicate (ltd special chars)"
          }) }}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Deployment details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/clients/{{ baseClient.base_client_id }}/edit-deployment-details">Change deployment details</a>
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Client type"
            },{
            text: baseClient.Service
          }
          ],
          [
            {
              text: "Team"
            },{
            text: baseClient.deployment_details.team
          }
          ],
          [
            {
              text: "Team contact"
            },{
            text: baseClient.deployment_details.team_contact
          }
          ],
          [
            {
              text: "Hosting"
            },{
            text: baseClient.deployment_details.hosting
          }
          ],
          [
            {
              text: "Namespace"
            },{
            text: baseClient.deployment_details.namespace
          }
          ],
          [
            {
              text: "Deployment"
            },{
            text: baseClient.deployment_details.deployment
          }
          ],
          [
            {
              text: "Secret name"
            },{
            text: baseClient.deployment_details.secret_name
          }
          ],
          [
            {
              text: "Client id key"
            },{
            text: baseClient.deployment_details.client_id_key
          }
          ],
          [
            {
              text: "Secret key"
            },{
            text: baseClient.deployment_details.secret_key
          }
          ],
          [
            {
              text: "Deployment info"
            },{
            text: baseClient.deployment_details.deployment_info
          }
          ]

        ]
      }) }}

      {{ govukCheckboxes({
        name: "expiry",
        fieldset: {
          legend: {
            text: "Client expiry",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "expire",
            text: "allow client to expire",
            checked: baseClient.config.do_expire,
            conditional: {
            html: "<label class=\"govuk-label\" for=\"expiry-days\">Number of days client is currently valid for</label><input class=\"govuk-input govuk-!-width-one-quarter\" id=\"expiry-days\" name=\"expiryDays\" value=\"" + baseClient.config.days_to_expire + "\" type=\"text\">"
          }
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "JIRA number",
          classes: "govuk-label--l",
          isPageHeading: false
        },
        hint: {
          text: "Jira ticket number e.g. DT-2264 - ticket provides audit for client request/approvals"
        },
        id: "jira",
        name: "jira",
        text: baseClient.additional_information.jiraNo
      }) }}

      <h2 class="govuk-heading-l">
        Client details
      </h2>

      {{ govukTextarea({
        name: "redirect uris",
        id: "redirect-uris",
        label: {
          text: "Registered redirect URIs",
          isPageHeading: false
        },
        value: presenter.web_server_redirect_uri
      }) }}

      {{ govukInput({
        label: {
          text: "Access token validity"
        },
        classes: "govuk-!-width-one-third",
        id: "access-token-validity",
        name: "accessTokenValidity",
        text: baseClient.access_token_validity
      }) }}

      {{ govukInput({
        label: {
          text: "Refresh token validity"
        },
        classes: "govuk-!-width-one-third",
        id: "refresh-token-validity",
        name: "refreshTokenValidity",
        text: baseClient.refresh_token_validity
      }) }}

      {{ govukInput({
        label: {
          text: "Resource IDs"
        },
        classes: "govuk-!-width-one-third",
        id: "resource-ids",
        name: "resourceIDs"
      }) }}

      {{ govukInput({
        label: {
          text: "Approved scopes"
        },
        classes: "govuk-!-width-one-third",
        id: "approved-scopes",
        name: "approvedScopes",
        text: baseClient.scope
      }) }}

      {{ govukTextarea({
        name: "authorities",
        id: "authorities",
        label: {
          text: "Authorities",
          isPageHeading: false
        },
        value: presenter.authorities
      }) }}

      {{ govukCheckboxes({
        name: "grant-types",
        fieldset: {
          legend: {
            text: "Grant types",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "client_credentials",
            text: "Client credentials",
            checked: presenter.has_client_credentials
          },{
            value: "authorization_code",
            text: "Authorization Code",
            checked: presenter.has_authorization_code
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "allowedIPS",
        id: "allowed-ips",
        label: {
          text: "Allowed IPs",
          isPageHeading: false
        },
        value: presenter.allowed_ips
      }) }}

      {{
      govukInput({
        label: {
          text: "JWT Fields Configuration"
        },
        hint: {
          text: "Comma separated list of fields, prefixed with + to add, - to remove e.g. +name,-user_id"
        },
        classes: "govuk-!-width-one-third",
        id: "jwt-fields",
        name: "jwtFields",
        text: baseClient.additional_information.jwtFields
      }) }}


      {{ govukCheckboxes({
        name: "azure",
        fieldset: {
          legend: {
            text: "Azure Ad Login Flow",
            isPageHeading: false
          },
          hint: {
            text: "Customize behaviour of Azure AD login"
          }
        },
        items: [
          {
            value: "redirect",
            text: "Auto redirect",
            checked: baseClient.additional_information.skipToAzureField
          }
        ]
      }) }}


      {{ govukRadios({
        name: "mfa",
        fieldset: {
          legend: {
            text: "Multi Factor Authentication"
          }
        },
        hint: {
          text: "Require additional verification to access this service"
        },
        items: [
          {
            value: "none",
            text: "None"
          },
          {
            value: "untrusted",
            text: "Access from untrusted networks"
          },
          {
            value: "all",
            text: "Access from all networks"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        name: "mfaRememberMe",
        fieldset: {
          legend: {
            text: "MFA remember me for 7 days option",
            isPageHeading: false
          },
          hint: {
            text: "Auth will provide a checkbox to remember a successful MFA sign in and if ticked will only prompt every 7 days for MFA (requires MFA)"
          }
        },
        items: [
          {
            value: "remember-me",
            text: "MFA remember me"
          }
        ]
      }) }}

      {{
      govukInput({
        label: {
          text: "Database Username"
        },
        hint: {
          text: "For client credentials only, the username to \"alias\" in database when changing data e.g. API_USER"
        },
        classes: "govuk-!-width-one-third",
        id: "database-username",
        name: "databaseUsername",
        text: baseClient.additional_information.databaseUsernameField
      }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save"
      }) }}
      <a href="/" role="button" class="govuk-button govuk-button--secondary">Cancel</a>
    </div>

    </div>

  </div>

{% endblock %}
