{% extends "layouts/main.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% set pageName="Client secrets" %}

{% block header %}
  {% include "partials/moj_header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" action="/clients/add-with-grant" method="GET">
      {{ govukPanel({
        titleText: presenter.banner
      }) }}

      {{ govukTable({
        firstCellIsHeader: true,
        rows: presenter.secretsTable
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: presenter.baseClientURL
        }) }}
      </div>

    </div>
    </div>

{% endblock %}
