{% extends "layouts/main.html" %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% set pageName="Client" %}

{% block header %}
  {% include "partials/moj_header.html" %}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Client: {{ baseClient.base_client_id }}
      </h1>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Client ID"
          },{
            text: "Created"
          },{
            text: "Last accessed"
          },{
            text: ""
          }
        ],
        rows: presenter.all_clients_table
      }) }}

      <form class="govuk-grid-row" action="/clients/{{ baseClient.base_client_id }}/instances" method="POST">
        <div class="govuk-grid-column-one-quarter">
          {{ govukButton({
            text: "Duplicate"
          }) }}
        </div>
      </form>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Client details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/clients/{{ baseClient.base_client_id }}/edit-client-details">Change client details</a>
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: false,
      head: [
      {
        text: "Client"
      },{
        text: ""
      }],
        rows: [
          [
            {
              text: "Client id"
            },{
            text: baseClient.base_client_id
          }
          ],[
            {
              text: "Client type"
            },{
            text: baseClient.Service
          }
          ],
         [
            {
              text: "Access token validity"
            },{
              text: baseClient.access_token_validity
            }
          ],[
            {
              text: "Approved scopes"
            },{
              text: baseClient.scope
            }
          ]
        ]
      }) }}

      {% if presenter.has_client_credentials %}
      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Grant details"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Grant type"
            },{
            text: "Client credentials"
          }
          ],[
            {
              text: "Roles"
            },{
              html: presenter.authorities
            }
          ]
        ]
      }) }}
      {% endif %}

      {% if presenter.has_authorization_code %}
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Grant details"
            },{
              text: ""
            }],
          rows: [
            [
              {
                text: "Grant type"
              },{
              text: "Authorization code"
            }
            ],[
              {
                text: "Registered redirect URIs"
              },{
                text: presenter.web_server_redirect_uri
              }
            ],[
              {
                text: "JWT Fields Configuration"
              },{
                text: baseClient.additional_information.jwtFields
              }
            ],[
              {
                text: "Azure Ad login flow"
              },{
                text: presenter.skipToAzureField
              }
            ]
          ]
        }) }}
      {% endif %}


      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Config"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Allow client to expire"
            },{
            text: presenter.expiry
          }
          ],[
            {
              text: "Allowed IPs"
            },{
              text: presenter.allowed_ips
            }
          ]
        ]
      }) }}


      {% if presenter.has_authorization_code %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Service details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/clients/{{ baseClient.base_client_id }}/edit-service-details">Change service details</a>
        </div>
      </div>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Service details"
            },{
              text: ""
            }],
          rows: [
            [
              {
                text: "Name"
              },{
              text: baseClient.serviceDetails.serviceName
            }
            ],[
              {
                text: "Description"
              },{
                text: baseClient.serviceDetails.serviceDescription
              }
            ],[
              {
                text: "Authorised roles"
              },{
                text: baseClient.serviceDetails.serviceAuthorisedRoles.join('</br>')
              }
            ],[
              {
                text: "URL"
              },{
                text: baseClient.serviceDetails.serviceURL
              }
            ],[
              {
                text: "Contact URL/email"
              },{
                text: baseClient.serviceDetails.contactUsURL
              }
            ],[
              {
                text: "Status"
              },{
                text: presenter.serviceEnabledLabel
              }
            ]
          ]
        }) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Deployment details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/clients/{{ baseClient.base_client_id }}/edit-deployment-details">Change deployment details</a>
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Contact"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Team"
            },{
            text: baseClient.deployment_details.team
          }
          ],
          [
            {
              text: "Team contact"
            },{
            text: baseClient.deployment_details.team_contact
          }
          ],
          [
            {
              text: "Team slack"
            },{
            text: baseClient.deployment_details.team_slack
          }
          ],[
            {
              text: "JIRA number"
            },{
              text: baseClient.additional_information.jiraNo
            }
          ]
        ]
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Platform"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Hosting"
            },{
            text: presenter.hosting
          }
          ],
          [
            {
              text: "Namespace"
            },{
            text: baseClient.deployment_details.namespace
          }
          ],
          [
            {
              text: "Deployment"
            },{
            text: baseClient.deployment_details.deployment
          }
          ],
          [
            {
              text: "Secret name"
            },{
            text: baseClient.deployment_details.secret_name
          }
          ],
          [
            {
              text: "Client id key"
            },{
            text: baseClient.deployment_details.client_id_key
          }
          ],
          [
            {
              text: "Secret key"
            },{
            text: baseClient.deployment_details.secret_key
          }
          ],[
            {
              text: "Database username"
            },{
              text: baseClient.additional_information.databaseUsernameField
            }
          ],
          [
            {
              text: "Deployment info"
            },{
            text: baseClient.deployment_details.deployment_info
          }
          ]

        ]
      }) }}

    </div>

  </div>

{% endblock %}
